<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{kawoof_title}}</title>
  <link href="/public/styles.css" rel="stylesheet">
</head>

<body>
  <h2 class="top">{{kawoof_title}}</h2>
  <h1 id="question">Waiting for host to start...</h1>
  <script src="/public/player.js"></script>
</body>

</html>
