<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="public/styles.css" rel="stylesheet" />
  </head>

  <body>
    <form>
      <input type="text" name="title" placeholder="KaWoof title" />
      <fieldset class="questions">
        <template>
          <fieldset class="group">
            <input
              class="question-input"
              type="text"
              name="questions[?].question"
              placeholder="Question"
            />
            <fieldset class="answers">
              <fieldset class="answer">
                <input
                  type="text"
                  name="questions[?].answers[1]"
                  placeholder="Answer 1"
                />
                <input
                  type="radio"
                  name="questions[?].correct_answer"
                  value="1"
                />
              </fieldset>
              <fieldset class="answer">
                <input
                  type="text"
                  name="questions[?].answers[2]"
                  placeholder="Answer 2"
                />
                <input
                  type="radio"
                  name="questions[?].correct_answer"
                  value="2"
                />
              </fieldset>
              <fieldset class="answer">
                <input
                  type="text"
                  name="questions[?].answers[3]"
                  placeholder="Answer 3"
                />
                <input
                  type="radio"
                  name="questions[?].correct_answer"
                  value="3"
                />
              </fieldset>
              <fieldset class="answer">
                <input
                  type="text"
                  name="questions[?].answers[4]"
                  placeholder="Answer 4"
                />
                <input
                  type="radio"
                  name="questions[?].correct_answer"
                  value="4"
                />
              </fieldset>
            </fieldset>
          </fieldset>
        </template>
      </fieldset>
      <button>Create</button>
    </form>
    <script src="/public/add_create_fields.js"></script>
  </body>
</html>
