<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Join a KaWoof</title>
    <link href="/public/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="top">KaWoof</h1>
    <form action="/join/redirect/" method="post">
      <label for="kawoof_id">Enter code:</label>
      <input type="text" name="kawoof_id" placeholder="1234" required />
      <button>Join</button>
    </form>
  </body>
</html>
