<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{kawoof.title}}</title>
  <link href="/public/styles.css" rel="stylesheet">
</head>

<body>
  <h1 class="top">{{kawoof.title}}</h1>
  <h2>Players:</h2>
  <ul id="players"></ul>
  <button id="next_button">Start</button>
  <script src="/public/lobby.js"></script>
</body>

</html>
