<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{kawoof.title}}</title>
  <link href="/public/styles.css" rel="stylesheet">
</head>

<body>
  <h2 class="top">{{kawoof.title}}</h2>
  <div id="pre-start">
    <h1>Code: {{kawoof.id}}</h1>
    <h2>Players:</h2>
    <ul id="players"></ul>
  </div>
  <h1 id="question"></h1>
  <button id="next_button">Start</button>
  <ul id="player-list"></ul>

  <dialog id="reconnecting-dialog">
    <h1>Reconnecting...</h1>
    <h2>Please don't refresh</h2>
  </dialog>
  <script src="/public/lobby.js"></script>
</body>

</html>
