:root {
  --text: #ffffff;
  --background: #000000;
  --accent: hsl(120, 30%, 40%);
  --primary: hsl(120, 10%, 30%);
}

body {
  color-scheme: dark;
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 90vh;
}

h1 {
  font-size: 5rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 1rem;
}

button,
a.button {
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

.answer {
  font-size: 5rem;
}

#answers {
  flex-direction: row;
  flex-wrap: wrap;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

fieldset {
  border-radius: 1rem;
}

fieldset.group {
  background-color: var(--primary);
  border: none;
  padding: 1rem;
}
